<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="welcome-page">
        <h1 class="welcome-title">Добро пожаловать в библиотеку!</h1>
        <nav class="welcome-nav">
            <a href="/books" class="btn">Список книг</a>
        </nav>
    </div>
</body>
</html>
